* {
    margin: 0;
    padding: 0;

}

nav {
    color: aliceblue;
    font-size: 27px;
    display: flex;
    padding: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box {
    display: flex;
    width: 100px;
    height: 100px;

}

nav ul {
    border-radius: 53px;
    list-style-type: none;
    text-align: center
}

.gamecontainer {

    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    margin-top: 50px;
    margin-left: 35%;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    border: 2px rgb(0, 0, 0);
    font-size: 8vw;
}

.box :hover {
    background-color: red;
    size: 8vw;
}