* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #5f5f60;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.22);
}

.musicplayer {
    background: #BCDBF1;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #007bff;
    /* Text color in blue */
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.22);
    /* Blue shadow */
}

.song-img {
    width: 220px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.22);
}

.musicplayer h1 {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;

}

.musicplayer p {
    font-size: 14px;
    color: #333;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #549acd;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #6ca7d2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.22);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #6ca7d2;
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2)
{
    transform: scale(1.5);
    background: #2d75a8;
    color: #fff;
}