<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Website</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-100 ">
    <div class="max-w-2xl bg-white shadow-lg rounded-lg overflow-hidden flex">
        <div class="flex-shrink-0 w-1/3">
            <img class="h-full w-full object-cover" src="https://i.ytimg.com/vi/kJEsTjH5mVg/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBTa4i6NuryzZhcPo7BkCK1G6PqGg" alt="Thumbnail">
        </div>
        <div class="p-4 w-2/3">
            <h2 class="text-lg font-bold">Your First HTML Website | Sigma Web Development Course - Tutorial #2</h2>
            <div class="text-gray-600 flex items-center justify-between mt-2">
                <span>CodeWithHarry • 9.2 lakh views • 10 months ago</span>
                <span class="flex items-center space-x-1">
                    <span>28:31</span>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
